body {
  background-color: #e6e1dd;
}

.quote-box {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

.twitter-share-button {
  text-decoration: none;
  border: solid 2px black;
  color: black;
  box-sizing: border-box;
  padding: 5px;
  background-color: #99d6ff;
  font-family: Arial;
  font-size: 15px;
  margin-right: 10px;
}

.button {
  text-decoration: none;
  border: solid 2px black;
  color: black;
  box-sizing: border-box;
  padding: 5px;
  background-color: #99d6ff;
  font-family: Arial;
  font-size: 15px;
}

.hero-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
}

.quote-author {
  margin-bottom: 20px;
}

h1 {
  padding-top: 20px;
}
